<h1>Listing sales</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Purchaser</th>
      <th>Item</th>
      <th>Merchant</th>
      <th>Unit</th>
      <th>Item cost</th>
      <th>Sub cost</th>
      <th>Imported date</th>
      
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.purchaser.name %></td>
        <td><%= sale.item.description %></td>
        <td><%= sale.merchant.name %></td>
        <td><%= sale.unit %></td>
        <td><%= number_to_currency(sale.item_cost) %></td>
        <td><%= number_to_currency(sale.unit*sale.item_cost) %>
        <td><%= sale.created_at.getlocal.strftime("%F %r") %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>
